<!DOCTYPE HTML>
<html>
    <head>
        <meta chaset="utf-8"/>
        <title>Welcome to Firebase Hosting</title>

        <script src="js/angular.min.js"></script>  <!-- AngularJS -->
        <script src="js/firebase.js"></script> <!-- Firebase -->
        <script src="js/angularfire.min.js"></script> <!-- AngularFire -->

        <script src="js/app.js"></script> <!-- Angular Principal -->
    </head>

    <body ng-app="app">
        <h1>Welcome to Firebase Hosting</h1>
        <div id="message" ng-controller="MyCtrl">
            <ol> <li ng-repeat="(key, timeline) in polideportivos">
                 {{key}}
                  <ol> <li ng-repeat="(key, idPolideportivo) in timeline">
                    {{key}}
                      <ol> <li ng-repeat="(key, sport) in idPolideportivo">
                        {{key}}
                           <ol> <li ng-repeat="(key, clave) in sport">
                            {{key}}
                               <ol> <li ng-repeat="(key, value) in clave">
                                {{key}} {{value}}
                              </li> </ol>
                          </li> </ol> 
                      </li> </ol> 
                  </li> </ol> 
              </li> </ol> 
        </div>
    </body>
</html>